<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time Table</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="css/fontastic.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">

    //- <link rel="stylesheet" type="text/css" href="vendor/frontend/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/frontend/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/frontend/jquery-ui.structure.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/frontend/jquery-ui.theme.min.css">
    //- <link rel="stylesheet" type="text/css" href="vendor/frontend/jquery.qtip.min.css">
    //- <link rel="stylesheet" type="text/css" href="vendor/frontend/cookieconsent.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/frontend/frontend.css">
    //- <link rel="stylesheet" type="text/css" href="vendor/frontend/general.css">


    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">USTC</h2>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="/table" class="brand-small text-center"> <strong>Z</strong><strong class="text-primary">S</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="/home"> <i class="icon-home"></i>Home                             </a></li>
            //- <li><a href="forms.html"> <i class="icon-form"></i>Forms                             </a></li>
            <li class="active"><a href="/table"> <i class="fa fa-bar-chart"></i>Table                             </a></li>
            //- <li><a href="tables.html"> <i class="icon-grid"></i>Tables                             </a></li>
            //- <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
            //-   <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            //-     <li><a href="#">Page</a></li>
            //-     <li><a href="#">Page</a></li>
            //-     <li><a href="#">Page</a></li>
            //-   </ul>
            //- </li>
            //- <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page                             </a></li>
            //- <li> <a href="#"> <i class="icon-mail"></i>Demo
            //-     <div class="badge badge-warning">6 New</div></a></li>
          </ul>
        </div>
        //- <div class="admin-menu">
        //-   <h5 class="sidenav-heading">Second menu</h5>
        //-   <ul id="side-admin-menu" class="side-menu list-unstyled"> 
        //-     <li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
        //-     <li> <a href="#"> <i class="icon-flask"> </i>Demo
        //-         <div class="badge badge-info">Special</div></a></li>
        //-     <li> <a href=""> <i class="icon-flask"> </i>Demo</a></li>
        //-     <li> <a href=""> <i class="icon-picture"> </i>Demo</a></li>
        //-   </ul>
        //- </div>
      </div>
    </nav>
    <div class="page pb-0">
      <!-- navbar-->
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="/table" class="navbar-brand">
                <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">日程安排</strong></div></a></div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Log out-->
                <li class="nav-item"><a href="/login" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- Header Section-->
      <section class="dashboard-header">
        <div class="container-fluid">
          <div id="coursesTable"></div>
          <button type="button" class="btn btn-info" id="lastweek-btn">Last Week</button>
          <button type="button" class="btn btn-info" id="nextweek-btn">Next Week</button>
        </div>
      </section>
    </div>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/charts-home.js"></script>
    <!-- Main File-->
    <script src="js/front.js"></script>
    <!-- Front-end -->

    //- <script src="vendor/frontend/jquery.min.js"></script>
    //- <script src="vendor/frontend/jquery-ui.min.js"></script>
    //- <script src="vendor/frontend/jquery.qtip.min.js"></script>
    //- <script src="vendor/frontend/cookieconsent.min.js"></script>
    //- <script src="vendor/frontend/bootstrap.min.js"></script>
    <script src="vendor/frontend/date.js"></script>
    //- <script src="vendor/frontend/frontend_book_api.js"></script>
    //- <script src="vendor/frontend/frontend_book.js"></script>
    <script type="text/javascript" src="vendor/frontend/jquery-ui.min.js"></script>
    //- <script type="text/javascript" src="vendor/frontend/jquery.qtip.min.js"></script>
    //- <script type="text/javascript" src="vendor/frontend/bootstrap.min.js"></script>
    //- <script type="text/javascript" src="vendor/frontend/date.js"></script>
    <script src="vendor/frontend/handle-next.js"></script>
    <script src="vendor/timetable/index.js"></script>
    //- <script src="vendor/timetable/table.js"></script>
      //- timetable
    <link rel="stylesheet" type="text/css" href="vendor/timetable/table.css">
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
            <p class="d-none" id="act-info"></p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="act-info-modal">
            </div>
            <div class="userOp">
            <hr>
            <b><p>Are you sure to delete the <span class="text-warning" id='delete-name'></span> activity?</p></b>
            </div>

          </div>
          <div class="modal-footer">
            <input type="hidden" value="msg" data-userAuth="#{userAuth}"/>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="userOp btn btn-info" id="delete-btn">Confirm</button>
          </div>
        </div>
      </div>
    </div>    
  </body>
</html>